</body>
<footer>
    <p class="footertext">&copy; 2020 Malley</p> 
    <a href="https://mhtaldmr.github.io/resume/" target="_blank"> <img class="mb-4 imglogo" src="images/logo.png" alt="logo"> </a> 

</footer>

</html>